# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#json config
.vscode/

# ignore sdk setup build folders
pico/
led_toggle/src/src/
led_toggle/src/CMakeFiles/
led_toggle/src/elf2uf2/
led_toggle/src/generated/
led_toggle/src/pico_extras/
led_toggle/src/pico-sdk/
led_toggle/src/pioasm/
led_toggle/src/CMakeCache.txt
led_toggle/src/cmake_install.cmake
led_toggle/src/Makefile